---
---

@import "{{ site.theme }}";
img {
    display: block;
    margin-left: auto;
    margin-right: auto;
}
table {
    display: block;
    overflow-x: auto;
}
p, ul, ol, table, pre, dl {
    font-size: 16px;
}
h2 {
    font-size: 28px;
}
h1 {
    font-size: 32px;
}
